@import "tailwindcss";

body {
  background-image: url('/BG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin: 0;
  padding: 0;
  ::-webkit-scrollbar {
  display: none;
  }
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  backdrop-filter: blur(2.3px);
  z-index: -1;
  background: linear-gradient(rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.2));
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
