@import "tailwindcss";

body {
  background-image: url('/BG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin: 0;
  padding: 0;
  ::-webkit-scrollbar {
  display: none;
  }
}



html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
